# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: .NET

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:

    runs-on: self-hosted
    env:
      DOTNET_INSTALL_DIR: "/home/localadmin/actions-runner/dotnet"
    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --no-restore --runtime windows
    - name: Upload build artifacts
      uses: actions/upload-artifact@v3
      with:
        name: Artifacts
        path: ${{ github.workspace }}
    #Upload Release
    - name: Make zip
      run: zip -r build.tar.gz ./MinecraftThroughTime/bin/Debug/*
      shell: bash
    - name: Create Release
      uses: softprops/action-gh-release@v2
      with:
          files: build.tar.gz
          draft: false
          prerelease: true
          tag_name: auto-release
