# Mirror to Gitea

name: Mirror to Gitea

on:
  push:
    branches: ['*']
    tags: ['*']

jobs:
  mirror:
    runs-on: self-hosted
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          fetch-tags: true
      
      - name: Configure Git
        run: |
          git config --global user.name "Mirror Bot"
          git config --global user.email "mirror@catboy.systems"
      
      - name: Push to Gitea
        run: |
          git remote add gitea https://${{ secrets.GITEA_USERNAME }}:${{ secrets.GITEA_TOKEN }}@git.catboy.systems/smol-kitten/MinecraftThroughTime.git || true
          git push gitea --all --force
          git push gitea --tags --force
        continue-on-error: true
